body{
    font-family: sans-serif;
    background-color: #0088EE;
}

.content{
    width: 85%;
    margin: auto;
    background-color: #ffffff;
    border: solid 3px #005588;
}

.article-extract{
    width: 95%;
    padding: 1em;
    margin: auto;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}

.article-extract-img-holder{
    width: 25%;
    height: 170px;
    background-color: pink;
}

.article-extract-text-holder{
    width: 72%;
    opacity: 0.85;
    text-align: justify;
}

.article-extract-text-holder:hover{
    color: #ffb131;
    font-weight: 700;
}

.footer-text{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

#links{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.list-item{
    float: left;
}

.nav-list{
    padding: 15px 20px;
    height: 30px;
    width: 95%;
    margin-bottom: 2%;
}

.header-img{
    width: 85%;
    margin: auto;
    height: 150px;
    margin-bottom: 2%; 
}

.header-img-holder{
    width: 300px;
    height: 150px;
    background-image: url('hollywoodlogo.jpg');
}

#img-1{
    background-image: url('universal.jpg');
}

#img-2{
    background-image: url('paulaabdul.jpg');
}

#img-3{
    background-image: url('eminem.jpg');
}

h2{
    text-transform: uppercase;
}