body {
	background-color: white;
    font-family: Helvetica;
    font-size: larger;
}

.term{
	color: red;
	margin-left: .5em;
	margin-right: .5em;
	padding: 0.25em 0.5em;
	border: 2px dotted red;
	background-color: #ffeeee;
}

div {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#output {
	border: 2px solid gray;
	position: relative;
	width: 320px;
	height: 120px;
}

